<div class="container mb-5">
  <div class="row">
    <div class="col-md-6 offset-md-3 my-3">
      <h1>{{article.title}}</h1>
      <p>{{article.content}}</p>
      <p class="text-muted">Published on: {{article.createdAt}}</p>
      <p>Category: <strong>{{article.category}}</strong></p>
      <p>Published by: <strong>{{article.author.email}}</strong></p>
      <button *ngFor="let tag of article.tags" class="btn btn-outline-primary">{{tag}}</button>
      <br/>
      <button class="btn btn-danger mt-2 mr-2"
              (click)="deleteArticle()"
              [hidden]="!authService.isLoggedIn() || articleId === authService.currentUser.uid">
        <i class="fa fa-trash"></i> Delete
      </button>
      <button class="btn btn-secondary mt-2" [hidden]="!authService.isLoggedIn() || articleId === authService.currentUser.uid">
        <i class="fa fa-edit"></i> Edit
      </button>
    </div>
  </div>
  <a class="btn btn-secondary" routerLink="/"><i class="fas fa-backward"></i> Back</a>
  <form (submit)="postComment()" [hidden]="!authService.isLoggedIn()">
    <div class="form-group">
      <textarea class="form-control" [(ngModel)]="comment" placeholder="What do you think about this article?"
                name="comment" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!comment.trim()">Post</button>
  </form>
  <app-comments-list [comments]="article.comments" [articleId]="articleId"></app-comments-list>
  <!--
  <ul class="list-group mb-5">
    <li class="list-group-item" *ngFor="let comment of article.comments | orderByCreationDate">
      <strong>{{comment.author.email}}</strong>
      <p>{{comment.content}}</p>
      <button class="btn btn-danger float-right"
              (click)="deleteComment(comment.id)"
              [hidden]="!authService.isLoggedIn() || authService.currentUser.uid.toString() !== comment.author.id.toString()">
        <i class="fa fa-trash"></i>
      </button>
      <small class="text-muted float-right">{{comment.createdAt}}</small>
    </li>
  </ul>-->
</div>
