<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand text-white" routerLink="/">MBloggy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/signup" *ngIf="!authService.isLoggedIn()">Sign up</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/signin" *ngIf="!authService.isLoggedIn()">Sign in</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="/articles/create" *ngIf="authService.isLoggedIn()">Create Article</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-0">
      <li class="nav-item active">
        <a class="nav-link text-warning" href="#" *ngIf="authService.isLoggedIn()">Hello, {{authService.currentUser.email}}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-white" href="#" (click)="signout()" *ngIf="authService.isLoggedIn()">Sign out</a>
      </li>
    </ul>
  </div>
</nav>
